/*	Less Framework 4
	http://lessframework.com
	by Joni Korpi
	License: http://opensource.org/licenses/mit-license.php	*/


/*	Resets
	------	*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, 
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, 
table, caOpenion, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaOpenion, hgroup, 
menu, footer, header, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, canvas, figure, figure img, figcaOpenion, hgroup,
footer, header, nav, section, audio, video {
	display: block;
}

a img {border: 0;}



/*	Typography presets
	------------------	*/

.gigantic {
	font-size: 110px;
	line-height: 120px;
	letter-spacing: -2px;
}

.huge, h1 {
	font-size: 68px;
	line-height: 72px;
	letter-spacing: -1px;
}

.large, h2 {
	font-size: 42px;
	line-height: 50px;
	font-family: Prata;
	color: #111111;
}

.bigger, h3 {
	font-size: 26px;
	line-height: 36px;
	font-family: Prata;
}

.big, h4 {
	font-size: 13px;
	line-height: 16px;
	font-family: Prata;
}

body {
	font: 12px/19px "Quattrocento Sans", sans-serif;
}

.small, small {
	font-size: 13px;
	line-height: 18px;
	font-family: Prata;
}

#header {  
}

#title {
}

#subtitle {
    margin-top: 5px;
}

#sidebar {
    padding-left: 8px;
}

#sidebar-title {
    background-color: #D66000;
    padding-top: 5px;
    padding-bottom:0px;
    color:white;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left:10px;
    padding-top: 8px;
    padding-bottom:5px;
    font-size:13px;
    font-family: "Quattrocento Sans"
}

#sidebar-content {
    padding-top: 10px;
    padding-right: 25px;
    padding-left: 20px;
    padding-bottom:10px;
}

#sidebar-content-controls {
    margin-top:5px;
    font-family: "Quattrocento Sans";
    vertical-align: bottom;
    position: relative;
    padding-left: 50px;
}

#sidebar-content .checkbox {
    vertical-align:bottom;
    
}

#content {
    margin-top: 20px; 
}

#hashtag {
    font-size: 20px;
    font-family: Prata;
}

#hashtag-list {
    font-size:11px;
    margin-top: 5px;
    line-height: 14px;
    color: #555555;
}

#sidebar-content-label {
	font-size: 13px;
	line-height: 18px;
	font-family: Prata;
    margin-bottom: 8px;
}

/* D3.js style */
#chart {
    background-color:white;
    border-width: 1px; 
    border-style: dotted; 
    border-color: #999999; 
    width: 650px;
    float:left;
    margin-right: 20px;
}

#footer {
    clear:both;
    background-color: #EBEBEB;
    margin-top: 40px;
    margin-left: -45px;
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 20px;
    padding-bottom: 10px;
    line-height: 20px;
    text-align:left;
}

/* Selection colours (easy to forget) */

::selection 	 	{background: rgb(255,255,158);}
::-moz-selection 	{background: rgb(255,255,158);}
img::selection 		{background: transparent;}
img::-moz-selection	{background: transparent;}
body {-webkit-tap-highlight-color: rgb(255,255,158);}



/*		Default Layout: 992px. 
		Gutters: 24px.
		Outer margins: 48px.
		Leftover space for scrollbars @1024px: 32px.
-------------------------------------------------------------------------------
cols    1     2      3      4      5      6      7      8      9      10
px      68    160    252    344    436    528    620    712    804    896    */

body {
	width: 940px;
    padding: 25px 0px 0px 48px;    
	color: rgb(60,60,60);
	-webkit-text-size-adjust: 100%; /* Stops Mobile Safari from auto-adjusting font-sizes */
    border-right: 1px dotted #999999;
    border-bottom: 1px dotted #999999;
}



